@*

    WELCOME TO...
     ___________ _____   _____ ___________ _____  ______  ___   _____ _   _   _____  _____  __   ______
    |  ___| ___ \_   _| /  __ \  _  |  _  \  ___| | ___ \/ _ \ /  ___| | | | / __  \|  _  |/  | |___  /
    | |__ | |_/ / | |   | /  \/ | | | | | | |__   | |_/ / /_\ \\ `--.| |_| | `' / /'| |/' |`| |    / /
    |  __||  __/  | |   | |   | | | | | | |  __|  | ___ \  _  | `--. \  _  |   / /  |  /| | | |   / /
    | |___| |    _| |_  | \__/\ \_/ / |/ /| |___  | |_/ / | | |/\__/ / | | | ./ /___\ |_/ /_| |_./ /
    \____/\_|    \___/   \____/\___/|___/ \____/  \____/\_| |_/\____/\_| |_/ \_____/ \___/ \___/\_/

    Kolmården is celebrating 52 years and wants a new and fun landing page.


    FILE INFO:
    This file is the landing page.

    WHAT THIS FILE DOES:
    To help you get started it's showing all the metadata for a random animal.

    WHAT YOU SHOULD DO:
    1) Read through this view file to see what metadata exists
    2) Start the site and refresh this page a few times to learn what data exists and how "reliable" it is.
       All images and metadata are available in the Media pane as well.
    3) You probably want to show only some of the data, and more visually pleasing. Have fun!
    4) Take a look at the controller and viewmodel in StartController.cs

    OTHER FILES:
    The controller and viemodel are both in Controllers/StartController.cs

*@


@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
@using CodeBash2017.Models.Media
@using EPiServer.Cms.Shell
@model CodeBash2017.Controllers.StartPageViewModel


<style>

    body {
        background: #f7f7f5;
        color: #5B7319;
        text-align: center;
        font-family: 'Helvetica', 'Arial';
        margin: 0;
    }

    .Header {
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
    }

    .Button {
        color: #fff;
        background: #5B7319;
        border: none;
        padding: 1em;
        cursor: pointer;
    }

    .Button:hover {
        background: #80a223;
    }

    .Button--secondary {
        background: #9fac7c;

    }

    .LogoBar {
        background: #fff;
        padding: 1em;
    }
    .List {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .List-item {
        width: 20%;
        display: table-cell;
    }

    .List-item img {
        max-width: 100%;
        border-radius: 30px;
    }
    .List-item a:hover {
        outline: 2px solid green;
        outline-offset: -10px;
    }

    .Option {
        padding: 1em;
        display: inline-block;
    }
    .Tags {
        margin-top: 1em;
        margin-bottom: 1em;
        margin: 3em 0;
        
    }

    .Tag {
        border: 2px solid #80a223;
        border-radius: 10px;
        padding: 1em;
    }

    .Tag--selected {
        background: #9fac7c;
        color: black;
    }
</style>
<script src="jquery-1.12.4.js"></script>

<div class="LogoBar">
    <img src="logo.jpg" height="100" />
</div>
<div class="Header">
    <h1>Kolmården fyller 52 år!</h1>
    <h2>Vinn en entrébiljett för hela familjen!</h2>
    <p>Kolmården fyller 52 år och det firar vi med en tävling där ni kan vinna ett besök för hela familjen. Allt ni behöver göra är att få högst poäng i våran tävling.</p>


    <div class="Tags">
        <span class="Tag Tag--selected">Animal 1</span>
        <span class="Tag">Animal 1</span>
        <span class="Tag">Animal 1</span>
        <span class="Tag">Animal 1</span>
    </div>

    <h2>Hjälp oss hitta "Animal"?</h2>
</div>





<ul class="List">
    <li class="List-item"><a href="#" class="Option js-option" data-option="1"><img src="animal.jpg"/></a></li>
    <li class="List-item"><a href="#" class="Option js-option" data-option="1"><img src="animal.jpg"/></a></li>
    <li class="List-item"><a href="#" class="Option js-option" data-option="1"><img src="animal.jpg"/></a></li>
    <li class="List-item"><a href="#" class="Option js-option" data-option="1"><img src="animal.jpg"/></a></li>
</ul>

<button class="Button">Ge mig fler!</button>
<button class="Button Button--secondary">Jag nöjer mig där</button>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div>

    <h2>@Model.Image.Name</h2>    

    @if (Model.Image.ErrorCode != null)
    {
        <pre>
            <!-- In case there's an error -->
            <strong>@Model.Image.ErrorCode: @Model.Image.ErrorMessage</strong>
        </pre>
    }

    <img src="@Model.Image.PublicUrl()" alt="@string.Join(", ", Model.Image.DescriptionTags ?? new string[] {})" style="float: left; margin-right: 15px; width: 500px;"/>
    
    <table>
        <caption>Features:</caption>
        <thead>
            <tr>
                <th>Feature Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Description captions</td>
                <td>
                    @foreach (var caption in Model.Image.DescriptionCaptions ?? Enumerable.Empty<Caption>())
                    {
                        <p>@caption.Text (confidence @caption.Confidence)</p>
                    }
                </td>
            </tr>

            <tr>
                <td>Description tags</td>
                <td>@string.Join(", ", Model.Image.DescriptionTags ?? new string[] {})</td>
            </tr>

            <tr>
                <td>Tags (Name / Confidence)</td>
                <td>
                    @foreach (var tag in Model.Image.Tags ?? Enumerable.Empty<Tag>())
                    {
                        <span>@tag.Name (@tag.Confidence)</span>
                        <br/>
                    }
                </td>
            </tr>

            <tr>
                <td>Image Format </td>
                <td>@Model.Image.Format</td>
            </tr>

            <tr>
                <td>Image Dimensions </td>
                <td>@Model.Image.Width x @Model.Image.Height</td>
            </tr>

            <tr>
                <td>Clip Art Type</td>
                <td>
                    <span>@Model.Image.ClipArtType - </span>
                    @switch (Model.Image.ClipArtType)
                    {
                        case 0: <span>Non-clipart</span> break;
                        case 1: <span>Ambiguous</span> break;
                        case 2: <span>Normal-clipart</span> break;
                        case 3: <span>Good-clipart</span> break;
                    }
                </td>
            </tr>

            <tr>
                <td>Line Drawing Type </td>
                <td>
                    <span>@Model.Image.LineDrawingType - </span>
                    @switch (Model.Image.LineDrawingType)
                    {
                        case 0: <span>Non-LineDrawing</span> break;
                        case 1: <span>LineDrawing</span> break;
                    }
                </td>
            </tr>

            <tr>
                <td>Black &amp; White Image</td>
                <td>@Model.Image.IsBWImg</td>
            </tr>

            <tr>
                <td>Is Adult Content </td>
                <td>@Model.Image.IsAdultContent</td>
            </tr>

            <tr>
                <td>Adult Score</td>
                <td>@Model.Image.AdultScore</td>
            </tr>

            <tr>
                <td>Is Racy Content</td>
                <td>@Model.Image.IsRacyContent</td>
            </tr>

            <tr>
                <td>Racy Score</td>
                <td>@Model.Image.RacyScore</td>
            </tr>

            <tr>
                <td>Categories (Name / Score)</td>
                <td>
                    @foreach (var category in Model.Image.Categories ?? new List<Category>())
                    {
                        <span>@category.Name (@category.Score)</span>
                        if (category.Celebrities == null || !category.Celebrities.Any())
                        {
                            <em>No celebrities detected</em>
                        }
                        else
                        {
                            foreach (var celebrity in category.Celebrities)
                            {
                                <em>@celebrity.Name (confidence @celebrity.Confidence)</em>
                                <strong>@celebrity.FaceRectangle.Width x @celebrity.FaceRectangle.Height, @celebrity.FaceRectangle.Top - @celebrity.FaceRectangle.Left</strong>
                            }
                        }
                        <br />
                    }
                </td>
            </tr>

            <tr>
                <td>Faces</td>
                <td>
                    @if (Model.Image.Faces == null || !Model.Image.Faces.Any())
                    {
                        <em>No faces detected</em>
                    }
                    else
                    {
                        foreach (var face in Model.Image.Faces)
                        {
                            <span>Age: @face.Age, Gender: @face.Gender</span>
                            <strong>@face.FaceRectangle.Width x @face.FaceRectangle.Height, @face.FaceRectangle.Top - @face.FaceRectangle.Left</strong>
                            <br/>
                        }
                    }
                </td>
            </tr>

            <tr>
                <td>Dominant Color Background</td>
                <td>
                    <div class="colorRect" style="background-color: @Model.Image.DominantColorBackground;"></div>
                    <span>@Model.Image.DominantColorBackground</span>
                </td>
            </tr>

            <tr>
                <td>Dominant Color Foreground</td>
                <td>
                    <div class="colorRect" style="background-color: @Model.Image.DominantColorForeground;"></div>
                    <span>@Model.Image.DominantColorForeground</span>
                </td>
            </tr>

            <tr>
                <td>Dominant Colors</td>
                <td id="dominantClr">
                    @foreach (var color in Model.Image.DominantColors ?? new string[] {})
                    {
                        <div style="display: table;">
                            <div class="colorRect" style="background-color: @color;"></div>
                            <span>@color</span>
                        </div>
                    }
                </td>
            </tr>

            <tr>
                <td>Accent Color</td>
                <td>
                    <div class="colorRect" style="background-color: @Model.Image.AccentColor;"></div>
                    <span>@Model.Image.AccentColor</span>
                </td>
            </tr>
        </tbody>
    </table>

</div>
